## Deliverable 3. Create a Travel Itinerary Map.

In [104]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [105]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Hilo,US,78.53,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
1,1,Mahebourg,MU,76.24,light intensity shower rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
2,2,Isangel,VU,83.46,overcast clouds,-19.5500,169.2667,Tanna Lodge
3,4,Hun,LY,70.16,clear sky,29.1268,15.9477,Alrwasi Hotel
4,6,Hithadhoo,MV,83.19,clear sky,-0.6000,73.0833,Scoop Guest House
...,...,...,...,...,...,...,...,...
514,699,Eucaliptus,BO,49.39,broken clouds,-17.5833,-67.5167,Hotel Serrano
515,700,Vinh,VN,63.16,overcast clouds,18.6667,105.6667,Vuong Hoan 2
516,702,Kuching,MY,80.82,few clouds,1.5500,110.3333,Hilton Kuching
517,704,Beira,MZ,75.29,few clouds,-19.8436,34.8389,Beira Terrace Hotel
518,705,Kettering,US,48.20,light rain,39.6895,-84.1688,Budget Inn

In [106]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather description</dt><dd>{Current Description}</dd><dd> and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
vacation_info

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [107]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [207]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Jalapa")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Jalapa")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Miraflores")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Acapulco")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Pochutla")]

In [208]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0])
end = (vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]) 
stop1 = (vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0])
stop3 = (vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0])

In [221]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(17.0, -94.0), zoom_level=6)
start2stop = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode='DRIVING')
fig.add_layer(start2stop)
fig

Figure(layout=FigureLayout(height='420px'))

In [211]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,304,Jalapa,MX,64.58,overcast clouds,19.5333,-96.9167,Hotel Mision Xalapa Plaza de las Convenciones
1,304,Jalapa,MX,64.58,overcast clouds,19.5333,-96.9167,Hotel Mision Xalapa Plaza de las Convenciones
2,347,Miraflores,MX,79.45,scattered clouds,19.2167,-98.8083,Hotel Mansión
3,651,Acapulco,MX,78.62,broken clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
4,83,Pochutla,MX,82.81,scattered clouds,15.7432,-96.4661,Hotel Posada San Jose

In [226]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather description</dt><dd>{Current Description}</dd><dd> and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [225]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(17.0, -94.0), zoom_level=6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))